/* @import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  }

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --text: #e4edf1;
    --background: #020303;
    --primary: #2c4854;
    --secondary: #182930;
    --accent: #6eb5d1;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--primary); 
  border-radius: 40px;      
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent);   
  border-radius: 40px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 24px;
  color: var(--text);
  background: linear-gradient(
      to bottom right,
      transparent,
      var(--secondary)
    )
    var(--background);
}